h1 {
  font-family: cursive;
}

body {
    color: #4286f4;
    background-color: ###FFB6C1;
}
ul {
   font-size: 1.25em;
 }
 .profile-pic {
   margin: auto;
   display: block;
   width: 25%;
   border-radius: 50%
 }

.coffee-pic {
  margin: auto;
  display: block;
}
